@font-face {
    font-family: Bitter;
    src: url(../../../assets/Bitter/Bitter-VariableFont_wght.ttf);
}

.headerTitle {
    float: left;
    width: 15em;
    height: 4em;
    margin: 8px 24px 0px 0;
}

.marbleFont 
{
    font-family: Bitter;
    color: #ffffff !important;
}

.headerMenu
{
    float: right;
}